@tailwind base;
@tailwind components;
@tailwind utilities;

.background-container {
  background-image: url('/background.png');
  background-size: cover;
  background-position: center top;
  height: 100vh;
  padding: 2rem;
  overflow: auto; 
}